<div ng-cloak cg-busy="{promise:loadingLayer1,minDuration:500}">
    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools">
            <div>编辑XSKY设备</div>
        </div>
    </md-toolbar>
    <form name="AccountEditForm" class="md-padding">
        <div layout="column">
            <md-input-container class="md-block">
                <label>名称</label>
                <input type="text" md-maxlength="50" name="s3Region" ng-model="item.name" required/>
                <div ng-messages="AccountEditForm.name.$error">
                    <div ng-message="required">必填</div>
                    <div ng-message="md-maxlength">不超过50个字符</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>存储类型</label>
                <md-select name="platform" ng-disabled="item.id" ng-model="item.platform" required>
                    <md-option ng-value="p.platform" ng-repeat="p in platforms">{{p.platform}}</md-option>
                </md-select>
                <div ng-messages="AccountEditForm.platform.$error">
                    <div ng-message="required">必填.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>XSKY地址</label>
                <input type="text" md-maxlength="50" name="xskyEndpoint" ng-model="item.xskyEndpoint" required/>
                <div ng-messages="AccountEditForm.xskyEndpoint.$error">
                    <div ng-message="required">必填</div>
                    <div ng-message="md-maxlength">不超过50个字符</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>XSKY用户名</label>
                <input type="text" md-maxlength="50" name="username" ng-model="item.username" required/>
                <div ng-messages="AccountEditForm.username.$error">
                    <div ng-message="required">必填</div>
                    <div ng-message="md-maxlength">不超过50个字符</div>
                </div>
            </md-input-container>
<!--            <md-input-container class="md-block">-->
<!--                <label>密码</label>-->
<!--                <input type="password" md-maxlength="50" name="password" ng-model="item.password" required/>-->
<!--                <div ng-messages="AccountEditForm.password.$error">-->
<!--                    <div ng-message="required">必填</div>-->
<!--                    <div ng-message="md-maxlength">不超过50个字符</div>-->
<!--                </div>-->
<!--            </md-input-container>-->
            <md-input-container class="md-block">
                <label>token</label>
                <input type="password" md-maxlength="100" name="token" ng-model="item.token" required/>
                <div ng-messages="AccountEditForm.token.$error">
                    <div ng-message="required">必填</div>
                    <div ng-message="md-maxlength">不超过100个字符</div>
                </div>
            </md-input-container>

        </div>

    </form>
    <div layout="row" layout-align="start center" layout-margin>
        <md-button class="md-raised md-primary" ng-disabled="AccountEditForm.$invalid"
                   ng-click="saveAccount(item,'update')">
            保存
        </md-button>
        <md-button class="md-raised" ng-click="toggleForm();">
            取消
        </md-button>
    </div>
</div>