/*
 * XMS API
 * XMS is the controller of distributed storage system
 *
 * OpenAPI spec version: XSCALEROS_6.2.000.3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package xio.sds.client.api;

import xio.sds.client.ApiCallback;
import xio.sds.client.ApiClient;
import xio.sds.client.ApiException;
import xio.sds.client.ApiResponse;
import xio.sds.client.Configuration;
import xio.sds.client.Pair;
import xio.sds.client.ProgressRequestBody;
import xio.sds.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import xio.sds.client.model.AlertRuleGroupDetailResp;
import xio.sds.client.model.AlertRuleGroupDetailUpdateReq;
import xio.sds.client.model.AlertRuleGroupsResp;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AlertRuleGroupsApi {
    private ApiClient apiClient;

    public AlertRuleGroupsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AlertRuleGroupsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getAlertRuleGroupDetail
     * @param id alert rule group id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getAlertRuleGroupDetailCall(Long id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v1/alert-rule-groups/{id}/detail"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getAlertRuleGroupDetailValidateBeforeCall(Long id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getAlertRuleGroupDetail(Async)");
        }
        
        com.squareup.okhttp.Call call = getAlertRuleGroupDetailCall(id, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Get alert rule group detail
     * @param id alert rule group id (required)
     * @return AlertRuleGroupDetailResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AlertRuleGroupDetailResp getAlertRuleGroupDetail(Long id) throws ApiException {
        ApiResponse<AlertRuleGroupDetailResp> resp = getAlertRuleGroupDetailWithHttpInfo(id);
        return resp.getData();
    }

    /**
     * 
     * Get alert rule group detail
     * @param id alert rule group id (required)
     * @return ApiResponse&lt;AlertRuleGroupDetailResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AlertRuleGroupDetailResp> getAlertRuleGroupDetailWithHttpInfo(Long id) throws ApiException {
        com.squareup.okhttp.Call call = getAlertRuleGroupDetailValidateBeforeCall(id, null, null);
        Type localVarReturnType = new TypeToken<AlertRuleGroupDetailResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Get alert rule group detail
     * @param id alert rule group id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getAlertRuleGroupDetailAsync(Long id, final ApiCallback<AlertRuleGroupDetailResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getAlertRuleGroupDetailValidateBeforeCall(id, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AlertRuleGroupDetailResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for listAlertRuleGroups
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param resourceType resource type of alert rule group (optional)
     * @param name name of alert rule group (optional)
     * @param level level of alert rule group (optional)
     * @param enabled enabled or not (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listAlertRuleGroupsCall(Long limit, Long offset, String resourceType, String name, String level, Boolean enabled, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v1/alert-rule-groups/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (resourceType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("resource_type", resourceType));
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("name", name));
        if (level != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("level", level));
        if (enabled != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("enabled", enabled));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listAlertRuleGroupsValidateBeforeCall(Long limit, Long offset, String resourceType, String name, String level, Boolean enabled, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = listAlertRuleGroupsCall(limit, offset, resourceType, name, level, enabled, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * List alert rule groups
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param resourceType resource type of alert rule group (optional)
     * @param name name of alert rule group (optional)
     * @param level level of alert rule group (optional)
     * @param enabled enabled or not (optional)
     * @return AlertRuleGroupsResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AlertRuleGroupsResp listAlertRuleGroups(Long limit, Long offset, String resourceType, String name, String level, Boolean enabled) throws ApiException {
        ApiResponse<AlertRuleGroupsResp> resp = listAlertRuleGroupsWithHttpInfo(limit, offset, resourceType, name, level, enabled);
        return resp.getData();
    }

    /**
     * 
     * List alert rule groups
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param resourceType resource type of alert rule group (optional)
     * @param name name of alert rule group (optional)
     * @param level level of alert rule group (optional)
     * @param enabled enabled or not (optional)
     * @return ApiResponse&lt;AlertRuleGroupsResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AlertRuleGroupsResp> listAlertRuleGroupsWithHttpInfo(Long limit, Long offset, String resourceType, String name, String level, Boolean enabled) throws ApiException {
        com.squareup.okhttp.Call call = listAlertRuleGroupsValidateBeforeCall(limit, offset, resourceType, name, level, enabled, null, null);
        Type localVarReturnType = new TypeToken<AlertRuleGroupsResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * List alert rule groups
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param resourceType resource type of alert rule group (optional)
     * @param name name of alert rule group (optional)
     * @param level level of alert rule group (optional)
     * @param enabled enabled or not (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listAlertRuleGroupsAsync(Long limit, Long offset, String resourceType, String name, String level, Boolean enabled, final ApiCallback<AlertRuleGroupsResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listAlertRuleGroupsValidateBeforeCall(limit, offset, resourceType, name, level, enabled, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AlertRuleGroupsResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateAlertRuleGroupDetail
     * @param body alert rule group detail (required)
     * @param id alert rule group id (required)
     * @param restore restore default setup (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateAlertRuleGroupDetailCall(AlertRuleGroupDetailUpdateReq body, Long id, Boolean restore, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/v1/alert-rule-groups/{id}/detail"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (restore != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("restore", restore));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "PATCH", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateAlertRuleGroupDetailValidateBeforeCall(AlertRuleGroupDetailUpdateReq body, Long id, Boolean restore, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling updateAlertRuleGroupDetail(Async)");
        }
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling updateAlertRuleGroupDetail(Async)");
        }
        
        com.squareup.okhttp.Call call = updateAlertRuleGroupDetailCall(body, id, restore, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * set alert rule group
     * @param body alert rule group detail (required)
     * @param id alert rule group id (required)
     * @param restore restore default setup (optional)
     * @return AlertRuleGroupDetailResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AlertRuleGroupDetailResp updateAlertRuleGroupDetail(AlertRuleGroupDetailUpdateReq body, Long id, Boolean restore) throws ApiException {
        ApiResponse<AlertRuleGroupDetailResp> resp = updateAlertRuleGroupDetailWithHttpInfo(body, id, restore);
        return resp.getData();
    }

    /**
     * 
     * set alert rule group
     * @param body alert rule group detail (required)
     * @param id alert rule group id (required)
     * @param restore restore default setup (optional)
     * @return ApiResponse&lt;AlertRuleGroupDetailResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AlertRuleGroupDetailResp> updateAlertRuleGroupDetailWithHttpInfo(AlertRuleGroupDetailUpdateReq body, Long id, Boolean restore) throws ApiException {
        com.squareup.okhttp.Call call = updateAlertRuleGroupDetailValidateBeforeCall(body, id, restore, null, null);
        Type localVarReturnType = new TypeToken<AlertRuleGroupDetailResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * set alert rule group
     * @param body alert rule group detail (required)
     * @param id alert rule group id (required)
     * @param restore restore default setup (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateAlertRuleGroupDetailAsync(AlertRuleGroupDetailUpdateReq body, Long id, Boolean restore, final ApiCallback<AlertRuleGroupDetailResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateAlertRuleGroupDetailValidateBeforeCall(body, id, restore, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AlertRuleGroupDetailResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
