/*
 * XMS API
 * XMS is the controller of distributed storage system
 *
 * OpenAPI spec version: XSCALEROS_6.2.000.3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package xio.sds.client.api;

import xio.sds.client.ApiCallback;
import xio.sds.client.ApiClient;
import xio.sds.client.ApiException;
import xio.sds.client.ApiResponse;
import xio.sds.client.Configuration;
import xio.sds.client.Pair;
import xio.sds.client.ProgressRequestBody;
import xio.sds.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import xio.sds.client.model.BlockVolumeMigrationJobResp;
import xio.sds.client.model.BlockVolumeMigrationJobsResp;
import xio.sds.client.model.BlockVolumeUpdateMigrationReq;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class BlockVolumeMigrationJobsApi {
    private ApiClient apiClient;

    public BlockVolumeMigrationJobsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public BlockVolumeMigrationJobsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for cancelBlockVolumeMigrationJob
     * @param blockVolumeMigrationJobId block volume migration job id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cancelBlockVolumeMigrationJobCall(Long blockVolumeMigrationJobId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v1/block-volume-migration-jobs/{block_volume_migration_job_id}:cancel"
            .replaceAll("\\{" + "block_volume_migration_job_id" + "\\}", apiClient.escapeString(blockVolumeMigrationJobId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call cancelBlockVolumeMigrationJobValidateBeforeCall(Long blockVolumeMigrationJobId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'blockVolumeMigrationJobId' is set
        if (blockVolumeMigrationJobId == null) {
            throw new ApiException("Missing the required parameter 'blockVolumeMigrationJobId' when calling cancelBlockVolumeMigrationJob(Async)");
        }
        
        com.squareup.okhttp.Call call = cancelBlockVolumeMigrationJobCall(blockVolumeMigrationJobId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * 
     * @param blockVolumeMigrationJobId block volume migration job id (required)
     * @return BlockVolumeMigrationJobResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public BlockVolumeMigrationJobResp cancelBlockVolumeMigrationJob(Long blockVolumeMigrationJobId) throws ApiException {
        ApiResponse<BlockVolumeMigrationJobResp> resp = cancelBlockVolumeMigrationJobWithHttpInfo(blockVolumeMigrationJobId);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param blockVolumeMigrationJobId block volume migration job id (required)
     * @return ApiResponse&lt;BlockVolumeMigrationJobResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<BlockVolumeMigrationJobResp> cancelBlockVolumeMigrationJobWithHttpInfo(Long blockVolumeMigrationJobId) throws ApiException {
        com.squareup.okhttp.Call call = cancelBlockVolumeMigrationJobValidateBeforeCall(blockVolumeMigrationJobId, null, null);
        Type localVarReturnType = new TypeToken<BlockVolumeMigrationJobResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param blockVolumeMigrationJobId block volume migration job id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cancelBlockVolumeMigrationJobAsync(Long blockVolumeMigrationJobId, final ApiCallback<BlockVolumeMigrationJobResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cancelBlockVolumeMigrationJobValidateBeforeCall(blockVolumeMigrationJobId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<BlockVolumeMigrationJobResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getBlockVolumeMigrationJob
     * @param blockVolumeMigrationJobId volume migration job id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getBlockVolumeMigrationJobCall(Long blockVolumeMigrationJobId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v1/block-volume-migration-jobs/{block_volume_migration_job_id}"
            .replaceAll("\\{" + "block_volume_migration_job_id" + "\\}", apiClient.escapeString(blockVolumeMigrationJobId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getBlockVolumeMigrationJobValidateBeforeCall(Long blockVolumeMigrationJobId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'blockVolumeMigrationJobId' is set
        if (blockVolumeMigrationJobId == null) {
            throw new ApiException("Missing the required parameter 'blockVolumeMigrationJobId' when calling getBlockVolumeMigrationJob(Async)");
        }
        
        com.squareup.okhttp.Call call = getBlockVolumeMigrationJobCall(blockVolumeMigrationJobId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * get a volume migration job
     * @param blockVolumeMigrationJobId volume migration job id (required)
     * @return BlockVolumeMigrationJobResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public BlockVolumeMigrationJobResp getBlockVolumeMigrationJob(Long blockVolumeMigrationJobId) throws ApiException {
        ApiResponse<BlockVolumeMigrationJobResp> resp = getBlockVolumeMigrationJobWithHttpInfo(blockVolumeMigrationJobId);
        return resp.getData();
    }

    /**
     * 
     * get a volume migration job
     * @param blockVolumeMigrationJobId volume migration job id (required)
     * @return ApiResponse&lt;BlockVolumeMigrationJobResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<BlockVolumeMigrationJobResp> getBlockVolumeMigrationJobWithHttpInfo(Long blockVolumeMigrationJobId) throws ApiException {
        com.squareup.okhttp.Call call = getBlockVolumeMigrationJobValidateBeforeCall(blockVolumeMigrationJobId, null, null);
        Type localVarReturnType = new TypeToken<BlockVolumeMigrationJobResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * get a volume migration job
     * @param blockVolumeMigrationJobId volume migration job id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getBlockVolumeMigrationJobAsync(Long blockVolumeMigrationJobId, final ApiCallback<BlockVolumeMigrationJobResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getBlockVolumeMigrationJobValidateBeforeCall(blockVolumeMigrationJobId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<BlockVolumeMigrationJobResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for listBlockVolumeMigrationJobs
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param status the status of volume migration job (optional)
     * @param q query param of search (optional)
     * @param sort sort param of search (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listBlockVolumeMigrationJobsCall(Long limit, Long offset, String status, String q, String sort, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v1/block-volume-migration-jobs/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (status != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("status", status));
        if (q != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("q", q));
        if (sort != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort", sort));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listBlockVolumeMigrationJobsValidateBeforeCall(Long limit, Long offset, String status, String q, String sort, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = listBlockVolumeMigrationJobsCall(limit, offset, status, q, sort, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * List volume migration jobs
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param status the status of volume migration job (optional)
     * @param q query param of search (optional)
     * @param sort sort param of search (optional)
     * @return BlockVolumeMigrationJobsResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public BlockVolumeMigrationJobsResp listBlockVolumeMigrationJobs(Long limit, Long offset, String status, String q, String sort) throws ApiException {
        ApiResponse<BlockVolumeMigrationJobsResp> resp = listBlockVolumeMigrationJobsWithHttpInfo(limit, offset, status, q, sort);
        return resp.getData();
    }

    /**
     * 
     * List volume migration jobs
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param status the status of volume migration job (optional)
     * @param q query param of search (optional)
     * @param sort sort param of search (optional)
     * @return ApiResponse&lt;BlockVolumeMigrationJobsResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<BlockVolumeMigrationJobsResp> listBlockVolumeMigrationJobsWithHttpInfo(Long limit, Long offset, String status, String q, String sort) throws ApiException {
        com.squareup.okhttp.Call call = listBlockVolumeMigrationJobsValidateBeforeCall(limit, offset, status, q, sort, null, null);
        Type localVarReturnType = new TypeToken<BlockVolumeMigrationJobsResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * List volume migration jobs
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param status the status of volume migration job (optional)
     * @param q query param of search (optional)
     * @param sort sort param of search (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listBlockVolumeMigrationJobsAsync(Long limit, Long offset, String status, String q, String sort, final ApiCallback<BlockVolumeMigrationJobsResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listBlockVolumeMigrationJobsValidateBeforeCall(limit, offset, status, q, sort, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<BlockVolumeMigrationJobsResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateMigration
     * @param body volume migration udpate info (required)
     * @param blockVolumeMigrationJobId block volume migration job id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateMigrationCall(BlockVolumeUpdateMigrationReq body, Long blockVolumeMigrationJobId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/v1/block-volume-migration-jobs/{block_volume_migration_job_id}:update"
            .replaceAll("\\{" + "block_volume_migration_job_id" + "\\}", apiClient.escapeString(blockVolumeMigrationJobId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateMigrationValidateBeforeCall(BlockVolumeUpdateMigrationReq body, Long blockVolumeMigrationJobId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling updateMigration(Async)");
        }
        // verify the required parameter 'blockVolumeMigrationJobId' is set
        if (blockVolumeMigrationJobId == null) {
            throw new ApiException("Missing the required parameter 'blockVolumeMigrationJobId' when calling updateMigration(Async)");
        }
        
        com.squareup.okhttp.Call call = updateMigrationCall(body, blockVolumeMigrationJobId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * 
     * @param body volume migration udpate info (required)
     * @param blockVolumeMigrationJobId block volume migration job id (required)
     * @return BlockVolumeMigrationJobResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public BlockVolumeMigrationJobResp updateMigration(BlockVolumeUpdateMigrationReq body, Long blockVolumeMigrationJobId) throws ApiException {
        ApiResponse<BlockVolumeMigrationJobResp> resp = updateMigrationWithHttpInfo(body, blockVolumeMigrationJobId);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param body volume migration udpate info (required)
     * @param blockVolumeMigrationJobId block volume migration job id (required)
     * @return ApiResponse&lt;BlockVolumeMigrationJobResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<BlockVolumeMigrationJobResp> updateMigrationWithHttpInfo(BlockVolumeUpdateMigrationReq body, Long blockVolumeMigrationJobId) throws ApiException {
        com.squareup.okhttp.Call call = updateMigrationValidateBeforeCall(body, blockVolumeMigrationJobId, null, null);
        Type localVarReturnType = new TypeToken<BlockVolumeMigrationJobResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param body volume migration udpate info (required)
     * @param blockVolumeMigrationJobId block volume migration job id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateMigrationAsync(BlockVolumeUpdateMigrationReq body, Long blockVolumeMigrationJobId, final ApiCallback<BlockVolumeMigrationJobResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateMigrationValidateBeforeCall(body, blockVolumeMigrationJobId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<BlockVolumeMigrationJobResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
