/*
 * XMS API
 * XMS is the controller of distributed storage system
 *
 * OpenAPI spec version: XSCALEROS_6.2.000.3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package xio.sds.client.api;

import xio.sds.client.ApiCallback;
import xio.sds.client.ApiClient;
import xio.sds.client.ApiException;
import xio.sds.client.ApiResponse;
import xio.sds.client.Configuration;
import xio.sds.client.Pair;
import xio.sds.client.ProgressRequestBody;
import xio.sds.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import xio.sds.client.model.DfsStoragePoliciesResp;
import xio.sds.client.model.DfsStoragePolicyCreateReq;
import xio.sds.client.model.DfsStoragePolicyResp;
import xio.sds.client.model.DfsStoragePolicyUnlinkDfsPathReq;
import xio.sds.client.model.DfsStoragePolicyUpdateReq;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class DfsStoragePoliciesApi {
    private ApiClient apiClient;

    public DfsStoragePoliciesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public DfsStoragePoliciesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createDfsStoragePolicy
     * @param body storagepolicy info (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createDfsStoragePolicyCall(DfsStoragePolicyCreateReq body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/v1/dfs-storage-policies/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createDfsStoragePolicyValidateBeforeCall(DfsStoragePolicyCreateReq body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createDfsStoragePolicy(Async)");
        }
        
        com.squareup.okhttp.Call call = createDfsStoragePolicyCall(body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Create dfs storage policies
     * @param body storagepolicy info (required)
     * @return DfsStoragePolicyResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DfsStoragePolicyResp createDfsStoragePolicy(DfsStoragePolicyCreateReq body) throws ApiException {
        ApiResponse<DfsStoragePolicyResp> resp = createDfsStoragePolicyWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * 
     * Create dfs storage policies
     * @param body storagepolicy info (required)
     * @return ApiResponse&lt;DfsStoragePolicyResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DfsStoragePolicyResp> createDfsStoragePolicyWithHttpInfo(DfsStoragePolicyCreateReq body) throws ApiException {
        com.squareup.okhttp.Call call = createDfsStoragePolicyValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<DfsStoragePolicyResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create dfs storage policies
     * @param body storagepolicy info (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createDfsStoragePolicyAsync(DfsStoragePolicyCreateReq body, final ApiCallback<DfsStoragePolicyResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createDfsStoragePolicyValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DfsStoragePolicyResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteDfsStoragePolicy
     * @param dfsStoragePolicyId dfs storage policy id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteDfsStoragePolicyCall(Long dfsStoragePolicyId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v1/dfs-storage-policies/{dfs_storage_policy_id}"
            .replaceAll("\\{" + "dfs_storage_policy_id" + "\\}", apiClient.escapeString(dfsStoragePolicyId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteDfsStoragePolicyValidateBeforeCall(Long dfsStoragePolicyId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'dfsStoragePolicyId' is set
        if (dfsStoragePolicyId == null) {
            throw new ApiException("Missing the required parameter 'dfsStoragePolicyId' when calling deleteDfsStoragePolicy(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteDfsStoragePolicyCall(dfsStoragePolicyId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * delete dfs storage policy
     * @param dfsStoragePolicyId dfs storage policy id (required)
     * @return DfsStoragePolicyResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DfsStoragePolicyResp deleteDfsStoragePolicy(Long dfsStoragePolicyId) throws ApiException {
        ApiResponse<DfsStoragePolicyResp> resp = deleteDfsStoragePolicyWithHttpInfo(dfsStoragePolicyId);
        return resp.getData();
    }

    /**
     * 
     * delete dfs storage policy
     * @param dfsStoragePolicyId dfs storage policy id (required)
     * @return ApiResponse&lt;DfsStoragePolicyResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DfsStoragePolicyResp> deleteDfsStoragePolicyWithHttpInfo(Long dfsStoragePolicyId) throws ApiException {
        com.squareup.okhttp.Call call = deleteDfsStoragePolicyValidateBeforeCall(dfsStoragePolicyId, null, null);
        Type localVarReturnType = new TypeToken<DfsStoragePolicyResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * delete dfs storage policy
     * @param dfsStoragePolicyId dfs storage policy id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteDfsStoragePolicyAsync(Long dfsStoragePolicyId, final ApiCallback<DfsStoragePolicyResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteDfsStoragePolicyValidateBeforeCall(dfsStoragePolicyId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DfsStoragePolicyResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getDfsStoragePolicy
     * @param dfsStoragePolicyId dfs storage policy id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getDfsStoragePolicyCall(Long dfsStoragePolicyId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v1/dfs-storage-policies/{dfs_storage_policy_id}"
            .replaceAll("\\{" + "dfs_storage_policy_id" + "\\}", apiClient.escapeString(dfsStoragePolicyId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getDfsStoragePolicyValidateBeforeCall(Long dfsStoragePolicyId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'dfsStoragePolicyId' is set
        if (dfsStoragePolicyId == null) {
            throw new ApiException("Missing the required parameter 'dfsStoragePolicyId' when calling getDfsStoragePolicy(Async)");
        }
        
        com.squareup.okhttp.Call call = getDfsStoragePolicyCall(dfsStoragePolicyId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Get dfs storage policy
     * @param dfsStoragePolicyId dfs storage policy id (required)
     * @return DfsStoragePolicyResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DfsStoragePolicyResp getDfsStoragePolicy(Long dfsStoragePolicyId) throws ApiException {
        ApiResponse<DfsStoragePolicyResp> resp = getDfsStoragePolicyWithHttpInfo(dfsStoragePolicyId);
        return resp.getData();
    }

    /**
     * 
     * Get dfs storage policy
     * @param dfsStoragePolicyId dfs storage policy id (required)
     * @return ApiResponse&lt;DfsStoragePolicyResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DfsStoragePolicyResp> getDfsStoragePolicyWithHttpInfo(Long dfsStoragePolicyId) throws ApiException {
        com.squareup.okhttp.Call call = getDfsStoragePolicyValidateBeforeCall(dfsStoragePolicyId, null, null);
        Type localVarReturnType = new TypeToken<DfsStoragePolicyResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Get dfs storage policy
     * @param dfsStoragePolicyId dfs storage policy id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getDfsStoragePolicyAsync(Long dfsStoragePolicyId, final ApiCallback<DfsStoragePolicyResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getDfsStoragePolicyValidateBeforeCall(dfsStoragePolicyId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DfsStoragePolicyResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for listDfsStoragePolicies
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param dfsRootfsId dfs rootfs id (optional)
     * @param dfsPathId dfs path id (optional)
     * @param dfsStorageClassId dfs class id (optional)
     * @param clusterId cluster id (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listDfsStoragePoliciesCall(Long limit, Long offset, Long dfsRootfsId, Long dfsPathId, Long dfsStorageClassId, String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v1/dfs-storage-policies/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (dfsRootfsId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("dfs_rootfs_id", dfsRootfsId));
        if (dfsPathId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("dfs_path_id", dfsPathId));
        if (dfsStorageClassId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("dfs_storage_class_id", dfsStorageClassId));
        if (clusterId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("cluster_id", clusterId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listDfsStoragePoliciesValidateBeforeCall(Long limit, Long offset, Long dfsRootfsId, Long dfsPathId, Long dfsStorageClassId, String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = listDfsStoragePoliciesCall(limit, offset, dfsRootfsId, dfsPathId, dfsStorageClassId, clusterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * List dfs Policies
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param dfsRootfsId dfs rootfs id (optional)
     * @param dfsPathId dfs path id (optional)
     * @param dfsStorageClassId dfs class id (optional)
     * @param clusterId cluster id (optional)
     * @return DfsStoragePoliciesResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DfsStoragePoliciesResp listDfsStoragePolicies(Long limit, Long offset, Long dfsRootfsId, Long dfsPathId, Long dfsStorageClassId, String clusterId) throws ApiException {
        ApiResponse<DfsStoragePoliciesResp> resp = listDfsStoragePoliciesWithHttpInfo(limit, offset, dfsRootfsId, dfsPathId, dfsStorageClassId, clusterId);
        return resp.getData();
    }

    /**
     * 
     * List dfs Policies
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param dfsRootfsId dfs rootfs id (optional)
     * @param dfsPathId dfs path id (optional)
     * @param dfsStorageClassId dfs class id (optional)
     * @param clusterId cluster id (optional)
     * @return ApiResponse&lt;DfsStoragePoliciesResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DfsStoragePoliciesResp> listDfsStoragePoliciesWithHttpInfo(Long limit, Long offset, Long dfsRootfsId, Long dfsPathId, Long dfsStorageClassId, String clusterId) throws ApiException {
        com.squareup.okhttp.Call call = listDfsStoragePoliciesValidateBeforeCall(limit, offset, dfsRootfsId, dfsPathId, dfsStorageClassId, clusterId, null, null);
        Type localVarReturnType = new TypeToken<DfsStoragePoliciesResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * List dfs Policies
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param dfsRootfsId dfs rootfs id (optional)
     * @param dfsPathId dfs path id (optional)
     * @param dfsStorageClassId dfs class id (optional)
     * @param clusterId cluster id (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listDfsStoragePoliciesAsync(Long limit, Long offset, Long dfsRootfsId, Long dfsPathId, Long dfsStorageClassId, String clusterId, final ApiCallback<DfsStoragePoliciesResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listDfsStoragePoliciesValidateBeforeCall(limit, offset, dfsRootfsId, dfsPathId, dfsStorageClassId, clusterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DfsStoragePoliciesResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for unlinkDfsStoragePolicyAndDfsPath
     * @param body policy info (required)
     * @param dfsStoragePolicyId dfs storage policy id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call unlinkDfsStoragePolicyAndDfsPathCall(DfsStoragePolicyUnlinkDfsPathReq body, Long dfsStoragePolicyId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/v1/dfs-storage-policies/{dfs_storage_policy_id}:unlink-dfs-path"
            .replaceAll("\\{" + "dfs_storage_policy_id" + "\\}", apiClient.escapeString(dfsStoragePolicyId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "PATCH", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call unlinkDfsStoragePolicyAndDfsPathValidateBeforeCall(DfsStoragePolicyUnlinkDfsPathReq body, Long dfsStoragePolicyId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling unlinkDfsStoragePolicyAndDfsPath(Async)");
        }
        // verify the required parameter 'dfsStoragePolicyId' is set
        if (dfsStoragePolicyId == null) {
            throw new ApiException("Missing the required parameter 'dfsStoragePolicyId' when calling unlinkDfsStoragePolicyAndDfsPath(Async)");
        }
        
        com.squareup.okhttp.Call call = unlinkDfsStoragePolicyAndDfsPathCall(body, dfsStoragePolicyId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Policy unlink Path
     * @param body policy info (required)
     * @param dfsStoragePolicyId dfs storage policy id (required)
     * @return DfsStoragePolicyResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DfsStoragePolicyResp unlinkDfsStoragePolicyAndDfsPath(DfsStoragePolicyUnlinkDfsPathReq body, Long dfsStoragePolicyId) throws ApiException {
        ApiResponse<DfsStoragePolicyResp> resp = unlinkDfsStoragePolicyAndDfsPathWithHttpInfo(body, dfsStoragePolicyId);
        return resp.getData();
    }

    /**
     * 
     * Policy unlink Path
     * @param body policy info (required)
     * @param dfsStoragePolicyId dfs storage policy id (required)
     * @return ApiResponse&lt;DfsStoragePolicyResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DfsStoragePolicyResp> unlinkDfsStoragePolicyAndDfsPathWithHttpInfo(DfsStoragePolicyUnlinkDfsPathReq body, Long dfsStoragePolicyId) throws ApiException {
        com.squareup.okhttp.Call call = unlinkDfsStoragePolicyAndDfsPathValidateBeforeCall(body, dfsStoragePolicyId, null, null);
        Type localVarReturnType = new TypeToken<DfsStoragePolicyResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Policy unlink Path
     * @param body policy info (required)
     * @param dfsStoragePolicyId dfs storage policy id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call unlinkDfsStoragePolicyAndDfsPathAsync(DfsStoragePolicyUnlinkDfsPathReq body, Long dfsStoragePolicyId, final ApiCallback<DfsStoragePolicyResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = unlinkDfsStoragePolicyAndDfsPathValidateBeforeCall(body, dfsStoragePolicyId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DfsStoragePolicyResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateDfsStoragePolicy
     * @param dfsStoragePolicyId dfs storage policy id (required)
     * @param body storagepolicy info (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateDfsStoragePolicyCall(Long dfsStoragePolicyId, DfsStoragePolicyUpdateReq body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/v1/dfs-storage-policies/{dfs_storage_policy_id}"
            .replaceAll("\\{" + "dfs_storage_policy_id" + "\\}", apiClient.escapeString(dfsStoragePolicyId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "PATCH", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateDfsStoragePolicyValidateBeforeCall(Long dfsStoragePolicyId, DfsStoragePolicyUpdateReq body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'dfsStoragePolicyId' is set
        if (dfsStoragePolicyId == null) {
            throw new ApiException("Missing the required parameter 'dfsStoragePolicyId' when calling updateDfsStoragePolicy(Async)");
        }
        
        com.squareup.okhttp.Call call = updateDfsStoragePolicyCall(dfsStoragePolicyId, body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Update dfs storage policy
     * @param dfsStoragePolicyId dfs storage policy id (required)
     * @param body storagepolicy info (optional)
     * @return DfsStoragePolicyResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DfsStoragePolicyResp updateDfsStoragePolicy(Long dfsStoragePolicyId, DfsStoragePolicyUpdateReq body) throws ApiException {
        ApiResponse<DfsStoragePolicyResp> resp = updateDfsStoragePolicyWithHttpInfo(dfsStoragePolicyId, body);
        return resp.getData();
    }

    /**
     * 
     * Update dfs storage policy
     * @param dfsStoragePolicyId dfs storage policy id (required)
     * @param body storagepolicy info (optional)
     * @return ApiResponse&lt;DfsStoragePolicyResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DfsStoragePolicyResp> updateDfsStoragePolicyWithHttpInfo(Long dfsStoragePolicyId, DfsStoragePolicyUpdateReq body) throws ApiException {
        com.squareup.okhttp.Call call = updateDfsStoragePolicyValidateBeforeCall(dfsStoragePolicyId, body, null, null);
        Type localVarReturnType = new TypeToken<DfsStoragePolicyResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Update dfs storage policy
     * @param dfsStoragePolicyId dfs storage policy id (required)
     * @param body storagepolicy info (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateDfsStoragePolicyAsync(Long dfsStoragePolicyId, DfsStoragePolicyUpdateReq body, final ApiCallback<DfsStoragePolicyResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateDfsStoragePolicyValidateBeforeCall(dfsStoragePolicyId, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DfsStoragePolicyResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
