/*
 * XMS API
 * XMS is the controller of distributed storage system
 *
 * OpenAPI spec version: XSCALEROS_6.2.000.3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package xio.sds.client.api;

import xio.sds.client.ApiCallback;
import xio.sds.client.ApiClient;
import xio.sds.client.ApiException;
import xio.sds.client.ApiResponse;
import xio.sds.client.Configuration;
import xio.sds.client.Pair;
import xio.sds.client.ProgressRequestBody;
import xio.sds.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import xio.sds.client.model.DfsVIPMoveReq;
import xio.sds.client.model.DfsVIPResp;
import xio.sds.client.model.DfsVIPsResp;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class DfsVipsApi {
    private ApiClient apiClient;

    public DfsVipsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public DfsVipsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getDfsVIP
     * @param dfsVipId vip id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getDfsVIPCall(Long dfsVipId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v1/dfs-vips/{dfs_vip_id}"
            .replaceAll("\\{" + "dfs_vip_id" + "\\}", apiClient.escapeString(dfsVipId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getDfsVIPValidateBeforeCall(Long dfsVipId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'dfsVipId' is set
        if (dfsVipId == null) {
            throw new ApiException("Missing the required parameter 'dfsVipId' when calling getDfsVIP(Async)");
        }
        
        com.squareup.okhttp.Call call = getDfsVIPCall(dfsVipId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Get dfs vip
     * @param dfsVipId vip id (required)
     * @return DfsVIPResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DfsVIPResp getDfsVIP(Long dfsVipId) throws ApiException {
        ApiResponse<DfsVIPResp> resp = getDfsVIPWithHttpInfo(dfsVipId);
        return resp.getData();
    }

    /**
     * 
     * Get dfs vip
     * @param dfsVipId vip id (required)
     * @return ApiResponse&lt;DfsVIPResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DfsVIPResp> getDfsVIPWithHttpInfo(Long dfsVipId) throws ApiException {
        com.squareup.okhttp.Call call = getDfsVIPValidateBeforeCall(dfsVipId, null, null);
        Type localVarReturnType = new TypeToken<DfsVIPResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Get dfs vip
     * @param dfsVipId vip id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getDfsVIPAsync(Long dfsVipId, final ApiCallback<DfsVIPResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getDfsVIPValidateBeforeCall(dfsVipId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DfsVIPResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for listDfsVIPs
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param clusterId cluster id (optional)
     * @param dfsGatewayGroupId dfs vip group id (optional)
     * @param dfsGatewayZoneId dfs gateway zone id (optional)
     * @param primaryGatewayId primary gateway id (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listDfsVIPsCall(Long limit, Long offset, String clusterId, Long dfsGatewayGroupId, Long dfsGatewayZoneId, Long primaryGatewayId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v1/dfs-vips/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (clusterId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("cluster_id", clusterId));
        if (dfsGatewayGroupId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("dfs_gateway_group_id", dfsGatewayGroupId));
        if (dfsGatewayZoneId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("dfs_gateway_zone_id", dfsGatewayZoneId));
        if (primaryGatewayId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("primary_gateway_id", primaryGatewayId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listDfsVIPsValidateBeforeCall(Long limit, Long offset, String clusterId, Long dfsGatewayGroupId, Long dfsGatewayZoneId, Long primaryGatewayId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = listDfsVIPsCall(limit, offset, clusterId, dfsGatewayGroupId, dfsGatewayZoneId, primaryGatewayId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * List dfs vips
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param clusterId cluster id (optional)
     * @param dfsGatewayGroupId dfs vip group id (optional)
     * @param dfsGatewayZoneId dfs gateway zone id (optional)
     * @param primaryGatewayId primary gateway id (optional)
     * @return DfsVIPsResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DfsVIPsResp listDfsVIPs(Long limit, Long offset, String clusterId, Long dfsGatewayGroupId, Long dfsGatewayZoneId, Long primaryGatewayId) throws ApiException {
        ApiResponse<DfsVIPsResp> resp = listDfsVIPsWithHttpInfo(limit, offset, clusterId, dfsGatewayGroupId, dfsGatewayZoneId, primaryGatewayId);
        return resp.getData();
    }

    /**
     * 
     * List dfs vips
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param clusterId cluster id (optional)
     * @param dfsGatewayGroupId dfs vip group id (optional)
     * @param dfsGatewayZoneId dfs gateway zone id (optional)
     * @param primaryGatewayId primary gateway id (optional)
     * @return ApiResponse&lt;DfsVIPsResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DfsVIPsResp> listDfsVIPsWithHttpInfo(Long limit, Long offset, String clusterId, Long dfsGatewayGroupId, Long dfsGatewayZoneId, Long primaryGatewayId) throws ApiException {
        com.squareup.okhttp.Call call = listDfsVIPsValidateBeforeCall(limit, offset, clusterId, dfsGatewayGroupId, dfsGatewayZoneId, primaryGatewayId, null, null);
        Type localVarReturnType = new TypeToken<DfsVIPsResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * List dfs vips
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param clusterId cluster id (optional)
     * @param dfsGatewayGroupId dfs vip group id (optional)
     * @param dfsGatewayZoneId dfs gateway zone id (optional)
     * @param primaryGatewayId primary gateway id (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listDfsVIPsAsync(Long limit, Long offset, String clusterId, Long dfsGatewayGroupId, Long dfsGatewayZoneId, Long primaryGatewayId, final ApiCallback<DfsVIPsResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listDfsVIPsValidateBeforeCall(limit, offset, clusterId, dfsGatewayGroupId, dfsGatewayZoneId, primaryGatewayId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DfsVIPsResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for moveDfsVIP
     * @param dfsVipId vip id (required)
     * @param body moving vip info (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call moveDfsVIPCall(Long dfsVipId, DfsVIPMoveReq body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/v1/dfs-vips/{dfs_vip_id}"
            .replaceAll("\\{" + "dfs_vip_id" + "\\}", apiClient.escapeString(dfsVipId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call moveDfsVIPValidateBeforeCall(Long dfsVipId, DfsVIPMoveReq body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'dfsVipId' is set
        if (dfsVipId == null) {
            throw new ApiException("Missing the required parameter 'dfsVipId' when calling moveDfsVIP(Async)");
        }
        
        com.squareup.okhttp.Call call = moveDfsVIPCall(dfsVipId, body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * move vip to another dfs gateway
     * @param dfsVipId vip id (required)
     * @param body moving vip info (optional)
     * @return DfsVIPResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DfsVIPResp moveDfsVIP(Long dfsVipId, DfsVIPMoveReq body) throws ApiException {
        ApiResponse<DfsVIPResp> resp = moveDfsVIPWithHttpInfo(dfsVipId, body);
        return resp.getData();
    }

    /**
     * 
     * move vip to another dfs gateway
     * @param dfsVipId vip id (required)
     * @param body moving vip info (optional)
     * @return ApiResponse&lt;DfsVIPResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DfsVIPResp> moveDfsVIPWithHttpInfo(Long dfsVipId, DfsVIPMoveReq body) throws ApiException {
        com.squareup.okhttp.Call call = moveDfsVIPValidateBeforeCall(dfsVipId, body, null, null);
        Type localVarReturnType = new TypeToken<DfsVIPResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * move vip to another dfs gateway
     * @param dfsVipId vip id (required)
     * @param body moving vip info (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call moveDfsVIPAsync(Long dfsVipId, DfsVIPMoveReq body, final ApiCallback<DfsVIPResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = moveDfsVIPValidateBeforeCall(dfsVipId, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DfsVIPResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
