/*
 * XMS API
 * XMS is the controller of distributed storage system
 *
 * OpenAPI spec version: XSCALEROS_6.2.000.3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package xio.sds.client.api;

import xio.sds.client.ApiCallback;
import xio.sds.client.ApiClient;
import xio.sds.client.ApiException;
import xio.sds.client.ApiResponse;
import xio.sds.client.Configuration;
import xio.sds.client.Pair;
import xio.sds.client.ProgressRequestBody;
import xio.sds.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import xio.sds.client.model.DpVolumeGroupSnapshotReplicationPoliciesResp;
import xio.sds.client.model.DpVolumeGroupSnapshotReplicationPolicyCreateReq;
import xio.sds.client.model.DpVolumeGroupSnapshotReplicationPolicyResp;
import xio.sds.client.model.DpVolumeGroupSnapshotReplicationPolicyUpdateReq;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class DpVolumeGroupSnapshotReplicationPoliciesApi {
    private ApiClient apiClient;

    public DpVolumeGroupSnapshotReplicationPoliciesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public DpVolumeGroupSnapshotReplicationPoliciesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createDpVolumeGroupSnapshotReplicationPolicy
     * @param body policy info (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createDpVolumeGroupSnapshotReplicationPolicyCall(DpVolumeGroupSnapshotReplicationPolicyCreateReq body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/v1/dp-volume-group-snapshot-replication-policies/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createDpVolumeGroupSnapshotReplicationPolicyValidateBeforeCall(DpVolumeGroupSnapshotReplicationPolicyCreateReq body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createDpVolumeGroupSnapshotReplicationPolicy(Async)");
        }
        
        com.squareup.okhttp.Call call = createDpVolumeGroupSnapshotReplicationPolicyCall(body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Create dp volume group snapshot replication policy
     * @param body policy info (required)
     * @return DpVolumeGroupSnapshotReplicationPolicyResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DpVolumeGroupSnapshotReplicationPolicyResp createDpVolumeGroupSnapshotReplicationPolicy(DpVolumeGroupSnapshotReplicationPolicyCreateReq body) throws ApiException {
        ApiResponse<DpVolumeGroupSnapshotReplicationPolicyResp> resp = createDpVolumeGroupSnapshotReplicationPolicyWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * 
     * Create dp volume group snapshot replication policy
     * @param body policy info (required)
     * @return ApiResponse&lt;DpVolumeGroupSnapshotReplicationPolicyResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DpVolumeGroupSnapshotReplicationPolicyResp> createDpVolumeGroupSnapshotReplicationPolicyWithHttpInfo(DpVolumeGroupSnapshotReplicationPolicyCreateReq body) throws ApiException {
        com.squareup.okhttp.Call call = createDpVolumeGroupSnapshotReplicationPolicyValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<DpVolumeGroupSnapshotReplicationPolicyResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create dp volume group snapshot replication policy
     * @param body policy info (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createDpVolumeGroupSnapshotReplicationPolicyAsync(DpVolumeGroupSnapshotReplicationPolicyCreateReq body, final ApiCallback<DpVolumeGroupSnapshotReplicationPolicyResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createDpVolumeGroupSnapshotReplicationPolicyValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DpVolumeGroupSnapshotReplicationPolicyResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteDpVolumeGroupSnapshotReplicationPolicy
     * @param policyId resource id (required)
     * @param force force delete or not (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteDpVolumeGroupSnapshotReplicationPolicyCall(Long policyId, Boolean force, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v1/dp-volume-group-snapshot-replication-policies/{policy_id}"
            .replaceAll("\\{" + "policy_id" + "\\}", apiClient.escapeString(policyId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (force != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("force", force));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteDpVolumeGroupSnapshotReplicationPolicyValidateBeforeCall(Long policyId, Boolean force, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'policyId' is set
        if (policyId == null) {
            throw new ApiException("Missing the required parameter 'policyId' when calling deleteDpVolumeGroupSnapshotReplicationPolicy(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteDpVolumeGroupSnapshotReplicationPolicyCall(policyId, force, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Delete dp volume group snapshot replication policy
     * @param policyId resource id (required)
     * @param force force delete or not (optional)
     * @return DpVolumeGroupSnapshotReplicationPolicyResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DpVolumeGroupSnapshotReplicationPolicyResp deleteDpVolumeGroupSnapshotReplicationPolicy(Long policyId, Boolean force) throws ApiException {
        ApiResponse<DpVolumeGroupSnapshotReplicationPolicyResp> resp = deleteDpVolumeGroupSnapshotReplicationPolicyWithHttpInfo(policyId, force);
        return resp.getData();
    }

    /**
     * 
     * Delete dp volume group snapshot replication policy
     * @param policyId resource id (required)
     * @param force force delete or not (optional)
     * @return ApiResponse&lt;DpVolumeGroupSnapshotReplicationPolicyResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DpVolumeGroupSnapshotReplicationPolicyResp> deleteDpVolumeGroupSnapshotReplicationPolicyWithHttpInfo(Long policyId, Boolean force) throws ApiException {
        com.squareup.okhttp.Call call = deleteDpVolumeGroupSnapshotReplicationPolicyValidateBeforeCall(policyId, force, null, null);
        Type localVarReturnType = new TypeToken<DpVolumeGroupSnapshotReplicationPolicyResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Delete dp volume group snapshot replication policy
     * @param policyId resource id (required)
     * @param force force delete or not (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteDpVolumeGroupSnapshotReplicationPolicyAsync(Long policyId, Boolean force, final ApiCallback<DpVolumeGroupSnapshotReplicationPolicyResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteDpVolumeGroupSnapshotReplicationPolicyValidateBeforeCall(policyId, force, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DpVolumeGroupSnapshotReplicationPolicyResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getDpVolumeGroupSnapshotReplicationPolicy
     * @param policyId resource id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getDpVolumeGroupSnapshotReplicationPolicyCall(Long policyId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v1/dp-volume-group-snapshot-replication-policies/{policy_id}"
            .replaceAll("\\{" + "policy_id" + "\\}", apiClient.escapeString(policyId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getDpVolumeGroupSnapshotReplicationPolicyValidateBeforeCall(Long policyId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'policyId' is set
        if (policyId == null) {
            throw new ApiException("Missing the required parameter 'policyId' when calling getDpVolumeGroupSnapshotReplicationPolicy(Async)");
        }
        
        com.squareup.okhttp.Call call = getDpVolumeGroupSnapshotReplicationPolicyCall(policyId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Get dp volume group snapshot replication policy
     * @param policyId resource id (required)
     * @return DpVolumeGroupSnapshotReplicationPolicyResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DpVolumeGroupSnapshotReplicationPolicyResp getDpVolumeGroupSnapshotReplicationPolicy(Long policyId) throws ApiException {
        ApiResponse<DpVolumeGroupSnapshotReplicationPolicyResp> resp = getDpVolumeGroupSnapshotReplicationPolicyWithHttpInfo(policyId);
        return resp.getData();
    }

    /**
     * 
     * Get dp volume group snapshot replication policy
     * @param policyId resource id (required)
     * @return ApiResponse&lt;DpVolumeGroupSnapshotReplicationPolicyResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DpVolumeGroupSnapshotReplicationPolicyResp> getDpVolumeGroupSnapshotReplicationPolicyWithHttpInfo(Long policyId) throws ApiException {
        com.squareup.okhttp.Call call = getDpVolumeGroupSnapshotReplicationPolicyValidateBeforeCall(policyId, null, null);
        Type localVarReturnType = new TypeToken<DpVolumeGroupSnapshotReplicationPolicyResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Get dp volume group snapshot replication policy
     * @param policyId resource id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getDpVolumeGroupSnapshotReplicationPolicyAsync(Long policyId, final ApiCallback<DpVolumeGroupSnapshotReplicationPolicyResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getDpVolumeGroupSnapshotReplicationPolicyValidateBeforeCall(policyId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DpVolumeGroupSnapshotReplicationPolicyResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for listDpVolumeGroupSnapshotReplicationPolicies
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param q query param of search (optional)
     * @param sort sort param of search (optional)
     * @param dpSiteId related site id (optional)
     * @param volumeGroupId related volume group id (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listDpVolumeGroupSnapshotReplicationPoliciesCall(Long limit, Long offset, String q, String sort, Long dpSiteId, Long volumeGroupId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v1/dp-volume-group-snapshot-replication-policies/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (q != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("q", q));
        if (sort != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort", sort));
        if (dpSiteId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("dp_site_id", dpSiteId));
        if (volumeGroupId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("volume_group_id", volumeGroupId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listDpVolumeGroupSnapshotReplicationPoliciesValidateBeforeCall(Long limit, Long offset, String q, String sort, Long dpSiteId, Long volumeGroupId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = listDpVolumeGroupSnapshotReplicationPoliciesCall(limit, offset, q, sort, dpSiteId, volumeGroupId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * List dp volume group snapshot replication policies
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param q query param of search (optional)
     * @param sort sort param of search (optional)
     * @param dpSiteId related site id (optional)
     * @param volumeGroupId related volume group id (optional)
     * @return DpVolumeGroupSnapshotReplicationPoliciesResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DpVolumeGroupSnapshotReplicationPoliciesResp listDpVolumeGroupSnapshotReplicationPolicies(Long limit, Long offset, String q, String sort, Long dpSiteId, Long volumeGroupId) throws ApiException {
        ApiResponse<DpVolumeGroupSnapshotReplicationPoliciesResp> resp = listDpVolumeGroupSnapshotReplicationPoliciesWithHttpInfo(limit, offset, q, sort, dpSiteId, volumeGroupId);
        return resp.getData();
    }

    /**
     * 
     * List dp volume group snapshot replication policies
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param q query param of search (optional)
     * @param sort sort param of search (optional)
     * @param dpSiteId related site id (optional)
     * @param volumeGroupId related volume group id (optional)
     * @return ApiResponse&lt;DpVolumeGroupSnapshotReplicationPoliciesResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DpVolumeGroupSnapshotReplicationPoliciesResp> listDpVolumeGroupSnapshotReplicationPoliciesWithHttpInfo(Long limit, Long offset, String q, String sort, Long dpSiteId, Long volumeGroupId) throws ApiException {
        com.squareup.okhttp.Call call = listDpVolumeGroupSnapshotReplicationPoliciesValidateBeforeCall(limit, offset, q, sort, dpSiteId, volumeGroupId, null, null);
        Type localVarReturnType = new TypeToken<DpVolumeGroupSnapshotReplicationPoliciesResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * List dp volume group snapshot replication policies
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param q query param of search (optional)
     * @param sort sort param of search (optional)
     * @param dpSiteId related site id (optional)
     * @param volumeGroupId related volume group id (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listDpVolumeGroupSnapshotReplicationPoliciesAsync(Long limit, Long offset, String q, String sort, Long dpSiteId, Long volumeGroupId, final ApiCallback<DpVolumeGroupSnapshotReplicationPoliciesResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listDpVolumeGroupSnapshotReplicationPoliciesValidateBeforeCall(limit, offset, q, sort, dpSiteId, volumeGroupId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DpVolumeGroupSnapshotReplicationPoliciesResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateDpVolumeGroupSnapshotReplicationPolicy
     * @param body policy info (required)
     * @param policyId resource id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateDpVolumeGroupSnapshotReplicationPolicyCall(DpVolumeGroupSnapshotReplicationPolicyUpdateReq body, Long policyId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/v1/dp-volume-group-snapshot-replication-policies/{policy_id}"
            .replaceAll("\\{" + "policy_id" + "\\}", apiClient.escapeString(policyId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "PATCH", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateDpVolumeGroupSnapshotReplicationPolicyValidateBeforeCall(DpVolumeGroupSnapshotReplicationPolicyUpdateReq body, Long policyId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling updateDpVolumeGroupSnapshotReplicationPolicy(Async)");
        }
        // verify the required parameter 'policyId' is set
        if (policyId == null) {
            throw new ApiException("Missing the required parameter 'policyId' when calling updateDpVolumeGroupSnapshotReplicationPolicy(Async)");
        }
        
        com.squareup.okhttp.Call call = updateDpVolumeGroupSnapshotReplicationPolicyCall(body, policyId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Update dp volume group snapshot replication policy
     * @param body policy info (required)
     * @param policyId resource id (required)
     * @return DpVolumeGroupSnapshotReplicationPolicyResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DpVolumeGroupSnapshotReplicationPolicyResp updateDpVolumeGroupSnapshotReplicationPolicy(DpVolumeGroupSnapshotReplicationPolicyUpdateReq body, Long policyId) throws ApiException {
        ApiResponse<DpVolumeGroupSnapshotReplicationPolicyResp> resp = updateDpVolumeGroupSnapshotReplicationPolicyWithHttpInfo(body, policyId);
        return resp.getData();
    }

    /**
     * 
     * Update dp volume group snapshot replication policy
     * @param body policy info (required)
     * @param policyId resource id (required)
     * @return ApiResponse&lt;DpVolumeGroupSnapshotReplicationPolicyResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DpVolumeGroupSnapshotReplicationPolicyResp> updateDpVolumeGroupSnapshotReplicationPolicyWithHttpInfo(DpVolumeGroupSnapshotReplicationPolicyUpdateReq body, Long policyId) throws ApiException {
        com.squareup.okhttp.Call call = updateDpVolumeGroupSnapshotReplicationPolicyValidateBeforeCall(body, policyId, null, null);
        Type localVarReturnType = new TypeToken<DpVolumeGroupSnapshotReplicationPolicyResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Update dp volume group snapshot replication policy
     * @param body policy info (required)
     * @param policyId resource id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateDpVolumeGroupSnapshotReplicationPolicyAsync(DpVolumeGroupSnapshotReplicationPolicyUpdateReq body, Long policyId, final ApiCallback<DpVolumeGroupSnapshotReplicationPolicyResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateDpVolumeGroupSnapshotReplicationPolicyValidateBeforeCall(body, policyId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DpVolumeGroupSnapshotReplicationPolicyResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
