/*
 * XMS API
 * XMS is the controller of distributed storage system
 *
 * OpenAPI spec version: XSCALEROS_6.2.000.3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package xio.sds.client.api;

import xio.sds.client.ApiCallback;
import xio.sds.client.ApiClient;
import xio.sds.client.ApiException;
import xio.sds.client.ApiResponse;
import xio.sds.client.Configuration;
import xio.sds.client.Pair;
import xio.sds.client.ProgressRequestBody;
import xio.sds.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import xio.sds.client.model.NetworkAddressResp;
import xio.sds.client.model.NetworkAddressesResp;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class NetworkAddressesApi {
    private ApiClient apiClient;

    public NetworkAddressesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public NetworkAddressesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getNetworkAddress
     * @param networkAddressId network address id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getNetworkAddressCall(Long networkAddressId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v1/network-addresses/{network_address_id}"
            .replaceAll("\\{" + "network_address_id" + "\\}", apiClient.escapeString(networkAddressId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getNetworkAddressValidateBeforeCall(Long networkAddressId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'networkAddressId' is set
        if (networkAddressId == null) {
            throw new ApiException("Missing the required parameter 'networkAddressId' when calling getNetworkAddress(Async)");
        }
        
        com.squareup.okhttp.Call call = getNetworkAddressCall(networkAddressId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Get a network address
     * @param networkAddressId network address id (required)
     * @return NetworkAddressResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NetworkAddressResp getNetworkAddress(Long networkAddressId) throws ApiException {
        ApiResponse<NetworkAddressResp> resp = getNetworkAddressWithHttpInfo(networkAddressId);
        return resp.getData();
    }

    /**
     * 
     * Get a network address
     * @param networkAddressId network address id (required)
     * @return ApiResponse&lt;NetworkAddressResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NetworkAddressResp> getNetworkAddressWithHttpInfo(Long networkAddressId) throws ApiException {
        com.squareup.okhttp.Call call = getNetworkAddressValidateBeforeCall(networkAddressId, null, null);
        Type localVarReturnType = new TypeToken<NetworkAddressResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Get a network address
     * @param networkAddressId network address id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getNetworkAddressAsync(Long networkAddressId, final ApiCallback<NetworkAddressResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getNetworkAddressValidateBeforeCall(networkAddressId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NetworkAddressResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for listNetworkAddresses
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param networkInterfaceId network interface id (optional)
     * @param hostId host id (optional)
     * @param role network address role (optional)
     * @param vipGroupId vip group id (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listNetworkAddressesCall(Long limit, Long offset, Long networkInterfaceId, Long hostId, String role, Long vipGroupId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v1/network-addresses/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (networkInterfaceId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("network_interface_id", networkInterfaceId));
        if (hostId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("host_id", hostId));
        if (role != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("role", role));
        if (vipGroupId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("vip_group_id", vipGroupId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listNetworkAddressesValidateBeforeCall(Long limit, Long offset, Long networkInterfaceId, Long hostId, String role, Long vipGroupId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = listNetworkAddressesCall(limit, offset, networkInterfaceId, hostId, role, vipGroupId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * List network addresses
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param networkInterfaceId network interface id (optional)
     * @param hostId host id (optional)
     * @param role network address role (optional)
     * @param vipGroupId vip group id (optional)
     * @return NetworkAddressesResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NetworkAddressesResp listNetworkAddresses(Long limit, Long offset, Long networkInterfaceId, Long hostId, String role, Long vipGroupId) throws ApiException {
        ApiResponse<NetworkAddressesResp> resp = listNetworkAddressesWithHttpInfo(limit, offset, networkInterfaceId, hostId, role, vipGroupId);
        return resp.getData();
    }

    /**
     * 
     * List network addresses
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param networkInterfaceId network interface id (optional)
     * @param hostId host id (optional)
     * @param role network address role (optional)
     * @param vipGroupId vip group id (optional)
     * @return ApiResponse&lt;NetworkAddressesResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NetworkAddressesResp> listNetworkAddressesWithHttpInfo(Long limit, Long offset, Long networkInterfaceId, Long hostId, String role, Long vipGroupId) throws ApiException {
        com.squareup.okhttp.Call call = listNetworkAddressesValidateBeforeCall(limit, offset, networkInterfaceId, hostId, role, vipGroupId, null, null);
        Type localVarReturnType = new TypeToken<NetworkAddressesResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * List network addresses
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param networkInterfaceId network interface id (optional)
     * @param hostId host id (optional)
     * @param role network address role (optional)
     * @param vipGroupId vip group id (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listNetworkAddressesAsync(Long limit, Long offset, Long networkInterfaceId, Long hostId, String role, Long vipGroupId, final ApiCallback<NetworkAddressesResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listNetworkAddressesValidateBeforeCall(limit, offset, networkInterfaceId, hostId, role, vipGroupId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NetworkAddressesResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
