/*
 * XMS API
 * XMS is the controller of distributed storage system
 *
 * OpenAPI spec version: XSCALEROS_6.2.000.3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package xio.sds.client.api;

import xio.sds.client.ApiCallback;
import xio.sds.client.ApiClient;
import xio.sds.client.ApiException;
import xio.sds.client.ApiResponse;
import xio.sds.client.Configuration;
import xio.sds.client.Pair;
import xio.sds.client.ProgressRequestBody;
import xio.sds.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import xio.sds.client.model.OSExternalStorageClassCreateReq;
import xio.sds.client.model.OSExternalStorageClassResp;
import xio.sds.client.model.OSExternalStorageClassUpdateReq;
import xio.sds.client.model.OSExternalStorageClassesResp;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class OsExternalStorageClassesApi {
    private ApiClient apiClient;

    public OsExternalStorageClassesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public OsExternalStorageClassesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createExternalStorageClass
     * @param body external storage class info (required)
     * @param clusterId cluster id (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createExternalStorageClassCall(OSExternalStorageClassCreateReq body, String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/v1/os-external-storage-classes/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (clusterId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("cluster_id", clusterId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createExternalStorageClassValidateBeforeCall(OSExternalStorageClassCreateReq body, String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createExternalStorageClass(Async)");
        }
        
        com.squareup.okhttp.Call call = createExternalStorageClassCall(body, clusterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Create os external storage class
     * @param body external storage class info (required)
     * @param clusterId cluster id (optional)
     * @return OSExternalStorageClassResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public OSExternalStorageClassResp createExternalStorageClass(OSExternalStorageClassCreateReq body, String clusterId) throws ApiException {
        ApiResponse<OSExternalStorageClassResp> resp = createExternalStorageClassWithHttpInfo(body, clusterId);
        return resp.getData();
    }

    /**
     * 
     * Create os external storage class
     * @param body external storage class info (required)
     * @param clusterId cluster id (optional)
     * @return ApiResponse&lt;OSExternalStorageClassResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<OSExternalStorageClassResp> createExternalStorageClassWithHttpInfo(OSExternalStorageClassCreateReq body, String clusterId) throws ApiException {
        com.squareup.okhttp.Call call = createExternalStorageClassValidateBeforeCall(body, clusterId, null, null);
        Type localVarReturnType = new TypeToken<OSExternalStorageClassResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create os external storage class
     * @param body external storage class info (required)
     * @param clusterId cluster id (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createExternalStorageClassAsync(OSExternalStorageClassCreateReq body, String clusterId, final ApiCallback<OSExternalStorageClassResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createExternalStorageClassValidateBeforeCall(body, clusterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<OSExternalStorageClassResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteOSExternalStorageClass
     * @param externalStorageClassId external storage class id (required)
     * @param clusterId cluster id (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteOSExternalStorageClassCall(Long externalStorageClassId, String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v1/os-external-storage-classes/{external_storage_class_id}"
            .replaceAll("\\{" + "external_storage_class_id" + "\\}", apiClient.escapeString(externalStorageClassId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (clusterId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("cluster_id", clusterId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteOSExternalStorageClassValidateBeforeCall(Long externalStorageClassId, String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'externalStorageClassId' is set
        if (externalStorageClassId == null) {
            throw new ApiException("Missing the required parameter 'externalStorageClassId' when calling deleteOSExternalStorageClass(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteOSExternalStorageClassCall(externalStorageClassId, clusterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Delete an os external storage class
     * @param externalStorageClassId external storage class id (required)
     * @param clusterId cluster id (optional)
     * @return OSExternalStorageClassResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public OSExternalStorageClassResp deleteOSExternalStorageClass(Long externalStorageClassId, String clusterId) throws ApiException {
        ApiResponse<OSExternalStorageClassResp> resp = deleteOSExternalStorageClassWithHttpInfo(externalStorageClassId, clusterId);
        return resp.getData();
    }

    /**
     * 
     * Delete an os external storage class
     * @param externalStorageClassId external storage class id (required)
     * @param clusterId cluster id (optional)
     * @return ApiResponse&lt;OSExternalStorageClassResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<OSExternalStorageClassResp> deleteOSExternalStorageClassWithHttpInfo(Long externalStorageClassId, String clusterId) throws ApiException {
        com.squareup.okhttp.Call call = deleteOSExternalStorageClassValidateBeforeCall(externalStorageClassId, clusterId, null, null);
        Type localVarReturnType = new TypeToken<OSExternalStorageClassResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Delete an os external storage class
     * @param externalStorageClassId external storage class id (required)
     * @param clusterId cluster id (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteOSExternalStorageClassAsync(Long externalStorageClassId, String clusterId, final ApiCallback<OSExternalStorageClassResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteOSExternalStorageClassValidateBeforeCall(externalStorageClassId, clusterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<OSExternalStorageClassResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getOSExternalStorageClass
     * @param externalStorageClassId external storage class id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getOSExternalStorageClassCall(Long externalStorageClassId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v1/os-external-storage-classes/{external_storage_class_id}"
            .replaceAll("\\{" + "external_storage_class_id" + "\\}", apiClient.escapeString(externalStorageClassId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getOSExternalStorageClassValidateBeforeCall(Long externalStorageClassId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'externalStorageClassId' is set
        if (externalStorageClassId == null) {
            throw new ApiException("Missing the required parameter 'externalStorageClassId' when calling getOSExternalStorageClass(Async)");
        }
        
        com.squareup.okhttp.Call call = getOSExternalStorageClassCall(externalStorageClassId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Get a os external storage class
     * @param externalStorageClassId external storage class id (required)
     * @return OSExternalStorageClassResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public OSExternalStorageClassResp getOSExternalStorageClass(Long externalStorageClassId) throws ApiException {
        ApiResponse<OSExternalStorageClassResp> resp = getOSExternalStorageClassWithHttpInfo(externalStorageClassId);
        return resp.getData();
    }

    /**
     * 
     * Get a os external storage class
     * @param externalStorageClassId external storage class id (required)
     * @return ApiResponse&lt;OSExternalStorageClassResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<OSExternalStorageClassResp> getOSExternalStorageClassWithHttpInfo(Long externalStorageClassId) throws ApiException {
        com.squareup.okhttp.Call call = getOSExternalStorageClassValidateBeforeCall(externalStorageClassId, null, null);
        Type localVarReturnType = new TypeToken<OSExternalStorageClassResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Get a os external storage class
     * @param externalStorageClassId external storage class id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getOSExternalStorageClassAsync(Long externalStorageClassId, final ApiCallback<OSExternalStorageClassResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getOSExternalStorageClassValidateBeforeCall(externalStorageClassId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<OSExternalStorageClassResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for listOSExternalStorageClasses
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param osPolicyId os policy id (optional)
     * @param generalStatus query records with active or error status (optional)
     * @param clusterId cluster id (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listOSExternalStorageClassesCall(Long limit, Long offset, Long osPolicyId, Boolean generalStatus, String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v1/os-external-storage-classes/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (osPolicyId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("os_policy_id", osPolicyId));
        if (generalStatus != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("general_status", generalStatus));
        if (clusterId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("cluster_id", clusterId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listOSExternalStorageClassesValidateBeforeCall(Long limit, Long offset, Long osPolicyId, Boolean generalStatus, String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = listOSExternalStorageClassesCall(limit, offset, osPolicyId, generalStatus, clusterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * List os external storage classes
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param osPolicyId os policy id (optional)
     * @param generalStatus query records with active or error status (optional)
     * @param clusterId cluster id (optional)
     * @return OSExternalStorageClassesResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public OSExternalStorageClassesResp listOSExternalStorageClasses(Long limit, Long offset, Long osPolicyId, Boolean generalStatus, String clusterId) throws ApiException {
        ApiResponse<OSExternalStorageClassesResp> resp = listOSExternalStorageClassesWithHttpInfo(limit, offset, osPolicyId, generalStatus, clusterId);
        return resp.getData();
    }

    /**
     * 
     * List os external storage classes
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param osPolicyId os policy id (optional)
     * @param generalStatus query records with active or error status (optional)
     * @param clusterId cluster id (optional)
     * @return ApiResponse&lt;OSExternalStorageClassesResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<OSExternalStorageClassesResp> listOSExternalStorageClassesWithHttpInfo(Long limit, Long offset, Long osPolicyId, Boolean generalStatus, String clusterId) throws ApiException {
        com.squareup.okhttp.Call call = listOSExternalStorageClassesValidateBeforeCall(limit, offset, osPolicyId, generalStatus, clusterId, null, null);
        Type localVarReturnType = new TypeToken<OSExternalStorageClassesResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * List os external storage classes
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param osPolicyId os policy id (optional)
     * @param generalStatus query records with active or error status (optional)
     * @param clusterId cluster id (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listOSExternalStorageClassesAsync(Long limit, Long offset, Long osPolicyId, Boolean generalStatus, String clusterId, final ApiCallback<OSExternalStorageClassesResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listOSExternalStorageClassesValidateBeforeCall(limit, offset, osPolicyId, generalStatus, clusterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<OSExternalStorageClassesResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateOSExternalStorageClass
     * @param body external storage class info (required)
     * @param externalStorageClassId external storage class id (required)
     * @param clusterId cluster id (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateOSExternalStorageClassCall(OSExternalStorageClassUpdateReq body, Long externalStorageClassId, String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/v1/os-external-storage-classes/{external_storage_class_id}"
            .replaceAll("\\{" + "external_storage_class_id" + "\\}", apiClient.escapeString(externalStorageClassId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (clusterId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("cluster_id", clusterId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "PATCH", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateOSExternalStorageClassValidateBeforeCall(OSExternalStorageClassUpdateReq body, Long externalStorageClassId, String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling updateOSExternalStorageClass(Async)");
        }
        // verify the required parameter 'externalStorageClassId' is set
        if (externalStorageClassId == null) {
            throw new ApiException("Missing the required parameter 'externalStorageClassId' when calling updateOSExternalStorageClass(Async)");
        }
        
        com.squareup.okhttp.Call call = updateOSExternalStorageClassCall(body, externalStorageClassId, clusterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * update os external storage class
     * @param body external storage class info (required)
     * @param externalStorageClassId external storage class id (required)
     * @param clusterId cluster id (optional)
     * @return OSExternalStorageClassResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public OSExternalStorageClassResp updateOSExternalStorageClass(OSExternalStorageClassUpdateReq body, Long externalStorageClassId, String clusterId) throws ApiException {
        ApiResponse<OSExternalStorageClassResp> resp = updateOSExternalStorageClassWithHttpInfo(body, externalStorageClassId, clusterId);
        return resp.getData();
    }

    /**
     * 
     * update os external storage class
     * @param body external storage class info (required)
     * @param externalStorageClassId external storage class id (required)
     * @param clusterId cluster id (optional)
     * @return ApiResponse&lt;OSExternalStorageClassResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<OSExternalStorageClassResp> updateOSExternalStorageClassWithHttpInfo(OSExternalStorageClassUpdateReq body, Long externalStorageClassId, String clusterId) throws ApiException {
        com.squareup.okhttp.Call call = updateOSExternalStorageClassValidateBeforeCall(body, externalStorageClassId, clusterId, null, null);
        Type localVarReturnType = new TypeToken<OSExternalStorageClassResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * update os external storage class
     * @param body external storage class info (required)
     * @param externalStorageClassId external storage class id (required)
     * @param clusterId cluster id (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateOSExternalStorageClassAsync(OSExternalStorageClassUpdateReq body, Long externalStorageClassId, String clusterId, final ApiCallback<OSExternalStorageClassResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateOSExternalStorageClassValidateBeforeCall(body, externalStorageClassId, clusterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<OSExternalStorageClassResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
