/*
 * XMS API
 * XMS is the controller of distributed storage system
 *
 * OpenAPI spec version: XSCALEROS_6.2.000.3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package xio.sds.client.api;

import xio.sds.client.ApiCallback;
import xio.sds.client.ApiClient;
import xio.sds.client.ApiException;
import xio.sds.client.ApiResponse;
import xio.sds.client.Configuration;
import xio.sds.client.Pair;
import xio.sds.client.ProgressRequestBody;
import xio.sds.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import xio.sds.client.model.OSReplicationPathResp;
import xio.sds.client.model.OSReplicationPathsResp;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class OsReplicationPathsApi {
    private ApiClient apiClient;

    public OsReplicationPathsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public OsReplicationPathsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getOSReplicationPath
     * @param pathUuid replication path uuid (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getOSReplicationPathCall(String pathUuid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v1/os-replication-paths/{path_uuid}"
            .replaceAll("\\{" + "path_uuid" + "\\}", apiClient.escapeString(pathUuid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getOSReplicationPathValidateBeforeCall(String pathUuid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'pathUuid' is set
        if (pathUuid == null) {
            throw new ApiException("Missing the required parameter 'pathUuid' when calling getOSReplicationPath(Async)");
        }
        
        com.squareup.okhttp.Call call = getOSReplicationPathCall(pathUuid, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Get a os replication path
     * @param pathUuid replication path uuid (required)
     * @return OSReplicationPathResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public OSReplicationPathResp getOSReplicationPath(String pathUuid) throws ApiException {
        ApiResponse<OSReplicationPathResp> resp = getOSReplicationPathWithHttpInfo(pathUuid);
        return resp.getData();
    }

    /**
     * 
     * Get a os replication path
     * @param pathUuid replication path uuid (required)
     * @return ApiResponse&lt;OSReplicationPathResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<OSReplicationPathResp> getOSReplicationPathWithHttpInfo(String pathUuid) throws ApiException {
        com.squareup.okhttp.Call call = getOSReplicationPathValidateBeforeCall(pathUuid, null, null);
        Type localVarReturnType = new TypeToken<OSReplicationPathResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Get a os replication path
     * @param pathUuid replication path uuid (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getOSReplicationPathAsync(String pathUuid, final ApiCallback<OSReplicationPathResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getOSReplicationPathValidateBeforeCall(pathUuid, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<OSReplicationPathResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for listOSReplicationPaths
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param marker paging param (optional)
     * @param replicationUuid os replication uuid (optional)
     * @param allowUnknownZone allow has nil zone result(default true) (optional)
     * @param clusterId cluster id (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listOSReplicationPathsCall(Long limit, Long offset, String marker, String replicationUuid, Boolean allowUnknownZone, String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v1/os-replication-paths/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (marker != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("marker", marker));
        if (replicationUuid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("replication_uuid", replicationUuid));
        if (allowUnknownZone != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("allow_unknown_zone", allowUnknownZone));
        if (clusterId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("cluster_id", clusterId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "tokenInHeader", "tokenInQuery" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listOSReplicationPathsValidateBeforeCall(Long limit, Long offset, String marker, String replicationUuid, Boolean allowUnknownZone, String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = listOSReplicationPathsCall(limit, offset, marker, replicationUuid, allowUnknownZone, clusterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * List os replication paths
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param marker paging param (optional)
     * @param replicationUuid os replication uuid (optional)
     * @param allowUnknownZone allow has nil zone result(default true) (optional)
     * @param clusterId cluster id (optional)
     * @return OSReplicationPathsResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public OSReplicationPathsResp listOSReplicationPaths(Long limit, Long offset, String marker, String replicationUuid, Boolean allowUnknownZone, String clusterId) throws ApiException {
        ApiResponse<OSReplicationPathsResp> resp = listOSReplicationPathsWithHttpInfo(limit, offset, marker, replicationUuid, allowUnknownZone, clusterId);
        return resp.getData();
    }

    /**
     * 
     * List os replication paths
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param marker paging param (optional)
     * @param replicationUuid os replication uuid (optional)
     * @param allowUnknownZone allow has nil zone result(default true) (optional)
     * @param clusterId cluster id (optional)
     * @return ApiResponse&lt;OSReplicationPathsResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<OSReplicationPathsResp> listOSReplicationPathsWithHttpInfo(Long limit, Long offset, String marker, String replicationUuid, Boolean allowUnknownZone, String clusterId) throws ApiException {
        com.squareup.okhttp.Call call = listOSReplicationPathsValidateBeforeCall(limit, offset, marker, replicationUuid, allowUnknownZone, clusterId, null, null);
        Type localVarReturnType = new TypeToken<OSReplicationPathsResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * List os replication paths
     * @param limit paging param (optional)
     * @param offset paging param (optional)
     * @param marker paging param (optional)
     * @param replicationUuid os replication uuid (optional)
     * @param allowUnknownZone allow has nil zone result(default true) (optional)
     * @param clusterId cluster id (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listOSReplicationPathsAsync(Long limit, Long offset, String marker, String replicationUuid, Boolean allowUnknownZone, String clusterId, final ApiCallback<OSReplicationPathsResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listOSReplicationPathsValidateBeforeCall(limit, offset, marker, replicationUuid, allowUnknownZone, clusterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<OSReplicationPathsResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
