<div layout-fill class="content-backdrop" ng-controller="ClientPageController"
     cg-busy="{promise:loadingLayer,minDuration:500}" ng-cloak>
    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools">
            <div>文件客户端</div>
            <md-button class="md-primary" ng-click="edit('client', {})">
                <md-icon>add_circle_outline</md-icon>
                创建文件客户端
            </md-button>
            <md-button class="md-primary" ng-click="edit('client-group', {})">
                <md-icon>add_circle_outline</md-icon>
                创建文件客户端组
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="客户端" md-on-select="select('client')" md-active="selected === 'client'" >
                <div ng-include="clientListUrl"></div>
            </md-tab>
            <md-tab label="客户端组" md-on-select="select('clientGroup')" md-active="selected === 'group'" >
                <div ng-include="clientGroupListUrl"></div>
            </md-tab>
        </md-tabs>
    </md-content>
    <side-form></side-form>
</div>