<div class="content-backdrop" layout-fill
     ng-controller="ClientGroupController" ng-init="init()" ng-cloak>
    <div cg-busy="{promise:loadingLayer, minDuration:500}" layout="column" layout-fill>
        <div layout="row" flex>
            <div class="md-padding" layout="column" flex="100">
                <filter-tools conditions="conditions" results="filters" search="'true'" execute="list()">
                    <select-columns columns="columns"></select-columns>
                    <div class="filter-item">
                        <md-button class="md-icon-button md-whiteframe-1dp" ng-click="list()">
                            <md-tooltip md-delay="300">刷新</md-tooltip>
                            <md-icon>refresh</md-icon>
                        </md-button>
                    </div>
                </filter-tools>
                <div layout="column" layout-fill flex>
                    <table dynamic-table columns="columns" execute="list({sql: sql})">
                        <tbody>
                        <tr ng-repeat="(index, item) in items">
                            <td>{{index + 1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.clientNum}}</td>
                            <td>
                                <workspace-info ng-if="item.workspace" id="item.workspace"></workspace-info>
                            </td>
                            <td>
                                <organization-info ng-if="item.organization" id="item.organization"></organization-info>
                            </td>
                            <td>{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>
                                <table-menus>
                                    <md-menu-item ng-if="isAdmin || isOrgAdmin">
                                        <md-button ng-click="bind(item)">
                                            <md-icon>attachment</md-icon>
                                            授权工作空间
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="edit('client-group', item)">
                                            <md-icon>edit</md-icon>
                                            编辑
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="delete(item)">
                                            <md-icon>delete</md-icon>
                                            删除
                                        </md-button>
                                    </md-menu-item>
                                </table-menus>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table-pagination pagination="pagination"></table-pagination>
                </div>
            </div>
        </div>
    </div>
    <side-form></side-form>
</div>