<div cg-busy="{promise:formLoadingLayer, minDuration:500}" ng-cloak>
    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools">
            <div ng-if="tmpItem.id">编辑FTP文件共享</div>
            <div ng-if="!tmpItem.id">创建FTP文件共享</div>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <form name="AclUpdateForm">
            <div class="md-dialog-content" layout="column">
                <div layout="column">
                    <md-input-container style="margin-top: 15px; margin-bottom: -10px">
                        <label>共享路径</label>
                        <input type="text" required  name="pathName" ng-model="tmpItem.pathName" ng-disabled="tmpItem.id"/>
                    </md-input-container>
                    <md-input-container style="margin-top: 15px">
                        <label>名称</label>
                        <input type="text" required  name="name" ng-model="tmpItem.name" ng-disabled="tmpItem.id"/>
                    </md-input-container>

                    <md-input-container class="md-block" ng-if="accountList.length > 1">
                        <label>所属设备</label>
                        <md-select ng-model="tmpItem.accountId" ng-disabled="tmpItem.id">
                            <md-option ng-repeat="account in accountList" value="{{account.id}}">
                                {{account.description}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex="auto" ng-if="isAdmin && !tmpItem.id">
                        <label>组织</label>
                        <md-select required ng-model="tmpItem.organization" name="organization" ng-change="onOrganizationChange(tmpItem.organization)" md-on-close="searchModel = ''">
                            <md-select-header class="select-header">
                                <input class="select-search" ng-model="searchModel" placeholder="按名称搜索" autocomplete="off"
                                       ng-keydown="$event.stopPropagation()">
                            </md-select-header>
                            <md-optgroup label="组织名称">
                                <md-option ng-repeat="model in organizationList | filter:{name:searchModel}" ng-value="model.id">{{model.name}}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="auto" ng-if="(isAdmin || isOrgAdmin) && !tmpItem.id">
                        <label>工作空间</label>
                        <md-select required ng-model="tmpItem.workspace" name="workspace" md-on-close="searchModel1 = ''">
                            <md-select-header class="select-header">
                                <input class="select-search" ng-model="searchModel1" placeholder="按名称搜索" autocomplete="off"
                                       ng-keydown="$event.stopPropagation()">
                            </md-select-header>
                            <md-optgroup label="工作空间名称">
                                <md-option ng-repeat="space in workspaceList | filter:{name:searchModel1}" ng-value="space.id">{{space.name}}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>

                   <!-- <md-input-container class="md-block">
                        <label>文件系统</label>
                        <md-select ng-model="tmpItem.folderId" ng-disabled="tmpItem.id || tmpItem.create" ng-change="onFolderChange(tmpItem);getFsPricePolicyInfo(tmpItem)">
                            <md-option ng-repeat="folder in folderList" value="{{folder.id}}">
                                {{folder.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>-->

                    <md-input-container class="md-block">
                        <label>文件网关组</label>
                        <md-select ng-model="tmpItem.gatewayGroupId" ng-disabled="tmpItem.id || tmpItem.gatewayGroupId">
                            <md-option ng-repeat="gatewayGroup in gatewayGroupList" value="{{gatewayGroup.gatewayGroupId}}">
                                {{gatewayGroup.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <div ng-if="tmpItem.gatewayGroupId">
                        <md-input-container class="md-block">
                            <label>用户</label>
                            <choose items="visitList" ng-if="visitList.length > 0" display="name" key="userId" selected="tmpItem.visitIdList" height="250px"></choose>
                        </md-input-container>

                        <!--                        <md-input-container class="md-block">-->
                        <!--                            <label>用户组</label>-->
                        <!--                            <choose ng-if="visitGroupList.length > 0" items="visitGroupList" display="name" key="userGroupId" selected="tmpItem.visitGroupIdList" height="250px"></choose>-->
                        <!--                        </md-input-container>-->
                    </div>
                </div>
            </div>

            <div class="md-dialog-content" layout="column">
                <label>权限：</label>
                <div>
                    <input type="checkbox" ng-model="tmpItem.permission.listEnabled" ng-click="boxStatus($event,'listEnabled')" ng-checked="expression('listEnabled')">
                    查看文件列表
                </div>
                <div><input type="checkbox" ng-model="tmpItem.permission.createEnabled" ng-click="boxStatus($event,'createEnabled')" ng-checked="expression('createEnabled')">
                    创建文件夹
                </div>
                <div><input type="checkbox" ng-model="tmpItem.permission.uploadEnabled" ng-click="boxStatus($event,'uploadEnabled')" ng-checked="expression('uploadEnabled')">
                    上传文件
                    <div style="margin-left: 60px" class="form-group" ng-if="tmpItem.permission.uploadEnabled"><label><span style="color: red">*</span>最大带宽：</label>
                        <input ng-model="tmpItem.permission.uploadBandwidth" class="form-control" value="0" required><span>KB/s</span>
                        <div style="font: 6px;color: #a2a3a9;">默认 0 为无限制。带宽输入范围为 0～102400 KB/s。</div>
                    </div>
                </div>
                <div><input type="checkbox" ng-model="tmpItem.permission.downloadEnabled" ng-click="boxStatus($event,'downloadEnabled')" ng-checked="expression('downloadEnabled')">
                    下载文件
                    <div style="margin-left: 60px" class="form-group" ng-if="expression('downloadEnabled')"><label><span style="color: red">*</span>最大带宽：</label>
                        <input ng-model="tmpItem.permission.downloadBandwidth" class="form-control" value="0" required><span>KB/s</span>
                        <div style="font: 6px;color: #a2a3a9;">默认 0 为无限制。带宽输入范围为 0～102400 KB/s。</div>
                    </div>
                </div>
                <div><input type="checkbox" ng-model="tmpItem.permission.deleteEnabled" ng-click="boxStatus($event,'deleteEnabled')" ng-checked="expression('deleteEnabled')">
                    删除文件
                </div>
                <div><input type="checkbox" ng-model="tmpItem.permission.renameEnabled" ng-click="boxStatus($event,'renameEnabled')" ng-checked="expression('renameEnabled')">
                    重命名
                </div>
            </div>
            <div ng-controller="SharePageController"
                 ng-include="'project/html/policy/fs_apply_price.html'"></div>
        </form>
    </md-content>
    <md-button class="md-raised md-primary" ng-disabled="AclUpdateForm.$invalid"
               ng-click="save(tmpItem)">
        提交
    </md-button>
    <md-button class="md-raised" ng-click="jumpOrToggleForm()">
        取消
    </md-button>
</div>